body {
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.fixed-header {
        position: fixed; /* Keeps the header in place */
        top: 0;
        left: 0;
        width: 100%; 
        display: block;
        align-items: center;
        padding: 10px 20px;
        background-color: #00aeff;
        border-bottom: 1px solid #ddd;
        z-index: 1000;
}

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 15px;
}

.profile-picture img {
    width: 150%;
    height: 150%;
    object-fit: cover;
}

.title {
    flex: 1;
}

.title h1 {
    margin: 0;
    font-size: 35px;
    color: #ffffff;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0; /* Light background color */
}

.text-box {
    flex: 1;
    padding: 20px;
    margin-right: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.text-box h2 {
    margin-top: 0;
}

.circle-image {
    width: 150px; /* Adjust size as needed */
    height: 150px; /* Adjust size as needed */
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120vh;
    background-color: #f0f0f0; /* Light background color */
}

.text-box {
    flex: 1;
    padding: 20px;
    margin-right: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.text-box h2 {
    margin-top: 0;
}

.circle-image {
    width: 150px; /* Adjust size as needed */
    height: 150px; /* Adjust size as needed */
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle-image img {
    width: 100%;
    height: 50%;
    object-fit: cover;
}
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120%;
}

.navbar-menu {
    list-style: none;
    display: flex;
    gap: 15px; /* Space between links */
    margin: 0;
    padding: 0;
}

.navbar-menu li {
    margin: 0;
}

.navbar-menu a {
    color: white;
    text-decoration: none;
    font-size: 14px; /* Adjust as needed */
    padding: 0 10px; /* Horizontal padding */
}

.navbar-menu a:hover {
    background-color: #333; /* Slightly lighter on hover */
    border-radius: 5px;
}
